# Supabase Project Credentials
PROJECT_URL="https://gjdutovmlpxrvwqycvay.supabase.co"
PROJECT_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.your-anon-or-service-key-here"

# App Environment
APP_ENV="development"
APP_PORT=3000
